<header class="flex">
  <h1>Welcome {{ title }}!</h1>
</header>
<main>

<div class="main-divs">
<table class="board">
  <tbody>
    <tr *ngFor="let data of mars; let i = index">
      <td *ngFor="let cell of data; let j = index">
        <littlerobot-square-cell
          [myCell]=cell
          [robotOrientation]=orientation
          [robotMovement]=movement
          [mineral]=mineral
          [wagons]=wagons ></littlerobot-square-cell>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <p>
    <input type="text" maxlength="100" style="width: 600px;"
      [(ngModel)]="intructions"
      (keyup.enter)="checkKey($event)"
      placeholder="Enter intructions like F R F F L F and finish width enter key">
  </p>
  <p>
    <input type="text" autofocus
      placeholder="Enter arrow keys"
      (keyup.arrowdown)="checkKey($event)"
      (keyup.arrowright)="checkKey($event)"
      (keyup.arrowleft)="checkKey($event)">
    wagons: {{ this.wagons.length }}
  </p>

  <p>
    <span></span>
  </p>
  <table>
    <tbody>
      <tr>
        <th>{{'Results:' | lowercase | uppercase}}</th>
      </tr>
      <tr *ngFor="let result of results;">
        <span>{{ result }}</span>
      </tr>
    </tbody>
  </table>
</div>
</div>


</main>
